@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

/* CONTENEDOR PRINCIPAL */
.form-card {
    max-width: 650px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 35px rgba(0,0,0,0.12);
}

/* TÍTULO */
.titulo-form {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #00796b;
}

/* INPUTS PREMIUM */
.input-premium {
    padding: 14px;
    border-radius: 12px;
    border: 1px solid #bbb;
    font-size: 16px;
    transition: all .3s ease;
}

.input-premium:focus {
    border-color: #00a896;
    box-shadow: 0 0 8px rgba(0,168,150,.3);
}

/* BOTÓN PREMIUM */
.btn-premium {
    background-color: #00796b;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 14px;
    transition: .3s ease;
    border: none;
}

.btn-premium:hover {
    background-color: #005f55;
    transform: translateY(-3px);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .form-card {
        padding: 25px !important;
    }

    .titulo-form {
        font-size: 26px;
    }
}
.flatpickr-input {
    background-color: white !important;
    height: 50px;
    border-radius: 12px !important;
    padding: 12px 16px !important;
    font-size: 1rem;
    border: 1px solid #cfd8dc;
    cursor: pointer;
}

.flatpickr-calendar {
    border-radius: 15px !important;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
